

/* Color Definitions */
.theme-light {
  --black: #383a42;
  --red: #e45649;
  --green: #50a14f;
  --yellow: #c18401;
  --blue: #0184bc;
  --purple: #a626a4;
  --cyan: #0997b3;
  --white: #fafafa;

  --color-background:var(--white);
  --color-foreground: var(--black);
  --color-cursor: #bfceff;
  --font-color: var(--black);

  --selection: #bfceff;
}

.theme-dark {
  --black: #282c34;
  --red: #e06c75;
  --green: #98c379;
  --yellow: #e5c07b;
  --blue: #61afef;
  --purple: #c678dd;
  --cyan: #56b6c2;
  --white: #dcdfe4;
  
  --color-background: var(--black);
  --color-foreground: var(--white);
  --color-cursor: #313640;
  --font-color:var(--white);

  --selection: #474e5d;
}
html,
body {
  margin: 0px;
  background-color: var(--color-background);
  background-position:center;
  color: var(--font-color);
  font-family: Georgia, Times, serif;
  font-size: 16px;
}
header,section,footer,nav,figure{display:block;}

h1{
  color:var(--blue);
  text-shadow: 2px 2px var(--color-foreground);
  font-size: 54px;
}
h2{
  text-shadow: 4px 4px #282c34;
  color:var(--yellow);
  font-size: 32px;
}
h3{
  text-shadow: 4px 4px #282c34;
  color:var(--purple);
  font-size: 32px;
}
/* Navigation Definitions */
.wrapper{
width:100%;
margin: 0 0 0 0;
background-color: var(--yellow);
}
.mainheader{
  margin: 0;
  background-clip: content-box;
  padding: 0px 0px 10px 10px;
  text-align: center;
}
header{
height:auto;
}
footer{
background-color:var(--footer);
height:30px;
clear:both;
position:fixed;
margin: 2px 2px 2px 30px;
left:0;
bottom:0;
width:100%;
}
nav{
height:50px;
padding-bottom: 8px;
background-color:var(--cyan);
}
nav ul {
    margin:0px;
    padding: 0px 0px 0px 0px;
}
nav li {
    display:inline;
    list-style-position:inside;
    float:left;
    font-size:20px;
    text-transform:uppercase;
    padding:10px;
    background-color:var(--cyan);
}

nav li a {
    color:var(--font-color);
    display:block;
    padding: 8px;
}
nav li a:hover, nav li a.active{
    color: var(--red);
}
nav li.active{
    background-color:var(--color-background);
}
/* Profile Card */
.card {
  background: var(--color-foreground);
  border-radius: 20% 20% / 20% 20%;
  height: 400px;
  margin: 1rem;
  width: 400px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}


.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card :is(p, h1) {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  text-align: center;
  margin:0 0 10px 10px;
  color: var(--color-background);
}
.card :is(img) {
    display: inline-block;
    object-position: 50% 50%;
    width:100%;
    object-fit:contain;
    margin-left: auto;
    margin-right: auto;
}

.moveup{
  transform: translateY(-20%);
}
.clip-circle{
    clip-path:circle(120px at center);
}

/* Flex Container */
.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  text-align: center;
  flex-flow: row wrap;
  padding: 10px;
  margin:auto;
}

.flex :is(.card){
flex: 0 0 auto;
align-content:center;
margin: 5px;
text-align:center;
}

.mode{
 display: inline-block;
 text-align: center;
 color:var(--purple);
 font-size: 20px; 
 vertical-align: middle;
}